/*
 * pipeline input parameters
 */
params.matrix = "$projectDir/data/SPARSim.csv"
params.barcodes = "$projectDir/data/PCR/filtered.bc.3PCR.csv"
params.transcriptome = "$projectDir/../SLSim/data/cdna/Mus_musculus.GRCm39.cdna.all.fa" //"$projectDir/data/PCR//HS.GRCh38.cdna.sub10k.sed123.fa"
params.features = "transcript_id"
params.gtf = "$projectDir/../references/Mus_musculus_ens96/only_chr_Mus_musculus_ens96.gtf"
params.ref_distribution = null
params.amp = 1
params.error_model = "$projectDir/data/badread_models/tomato_error_model"
params.qscore_model = "$projectDir/data/badread_models/tomato_qscore_model"
params.badread_identity = "96,2,98"
params.outdir = "tmp/PCR_1/"
params.projetctName = "PCR_1"


/*
 * run parameters
 */
params.threads = 29
docker.enabled = true 
process.container = 'hamraouii/wf-slsim:1.1'
docker.runOptions = '-u $(id -u):$(id -g)'

/*
 * basicconfig
 */

params.ADPTER_SEQ = 'ACTAAAGGCCATTACGGCCTACACGACGCTCTTCCGATCT'
params.TSO_SEQ = 'TGTACTCTGCGTTGATACCACTGCTT'
params.dT_LENGTH = 15