params.outdir = "tmp/PCR_1/"
params.projetctName = "PCR_1"

/*
 * pipeline input parameters
 */

params.matrix = "$projectDir/tmp/matrix/sub_SR_scNaUMIseq.csv"

// To simulate unfiltered BC counts - gives a realistic kneeplot
params.filtered_barcodes = null 

//
params.transcriptome = "$projectDir/../SLSim/data/cdna/Mus_musculus.GRCm39.cdna.all.fa"
params.features = "transcript_id"
params.gtf = null 

// To simulate cell types 
params.sim_celltypes = "false"
params.cell_types_csv = null 


//
params.error_model = "$projectDir/data/badread_models/tomato_error_model"
params.qscore_model = "$projectDir/data/badread_models/tomato_qscore_model"
params.badread_identity = "96,2,98"



/*
 * run parameters
 */
params.threads = 29
docker.enabled = true 
process.container = 'hamraouii/wf-slsim:1.1'
docker.runOptions = '-u $(id -u):$(id -g)'

/*
 * basicconfig
 */

params.ADPTER_SEQ = 'ACTAAAGGCCATTACGGCCTACACGACGCTCTTCCGATCT'
params.TSO_SEQ = 'TGTACTCTGCGTTGATACCACTGCTT'
params.dT_LENGTH = 15

// Number of PCR cycles
params.amp = 1