params.outdir = "tmp/test"
params.projetctName = "test"


/***************************
 * PIPELINE INPUT PARAMETRES
 */

// BASIC INPUTS.
params.matrix = null
params.transcriptome = null

// FEATURES : Provide a GTF file if the matrix row names do not correspond to "transcript_id".
params.features = "transcript_id"
params.full_length = true
params.gtf = null 
params.umi_duplication = 4

// SIMULATE CELL BARCODE COUNTS : produce a realistic knee plot.
params.bc_counts = null

// SIMULATE CELL TYPES.
params.sim_celltypes = false
params.cell_types_annotation = null


/***************************
 * PCR AMPLIFICATION PARAMETRES
 */

params.pcr_cycles = 0
params.pcr_total_reads = null
params.pcr_error_rate = 0.00003
params.pcr_dup_rate = 0.7

/*************
 * ERROR MODEL
 */

// BUILD YOUR PERSONAL MODEL
params.build_model = false
params.fastq_model = null
params.ref_genome = null

// USE PRE-TRAINED MODEL
params.trained_model = null
params.badread_identity = "97.0,4.0,100"
params.length_dist = "0.37,0.0,824.94"

// IMPORT MODEL (FILES)
params.error_model = null
params.qscore_model = null


/*************
 * BASIC CONFIG
 */

params.ADPTER_SEQ = 'ACTAAAGGCCATTACGGCCTACACGACGCTCTTCCGATCT'
params.TSO_SEQ = 'TGTACTCTGCGTTGATACCACTGCTT'
params.dT_LENGTH = 19


/****************
 * RUN PARAMETERS
 */

params.threads = 10
docker.enabled = true 
process.container = 'hamraouii/asarusim:0.2.0'
docker.runOptions = '-u $(id -u):$(id -g)'
